 {% extends 'chat_app/main.html' %}
 {% block body %}
<body>
    {% if not request.user.is_authenticated %}
        Enter Your nickname:<br>
        <input id="nick-input" type="text" size="15"><br><br>
    {% else %}
        {{request.user.username|json_script:"nickName"}}
    {% endif %}

    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="35"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        }

        document.querySelector('#room-name-submit').onclick = function(e) {

            let nickName = document.getElementById('nickName');
            if (nickName == null){
                nickName = document.querySelector('#nick-input').value;
            }
            else {
                nickName = JSON.parse(document.getElementById('nickName').textContent);
            }
            const roomName = document.querySelector('#room-name-input').value;
            if (nickName === '' || roomName === '') {
                alert("Both inputs must be filled");
                return false;
            }
            localStorage.setItem('nickname', nickName);
            window.location.pathname = '/chat/' + roomName + '/';
        }
    </script>
</body>
{% endblock %}